<?xml version="1.0"?>
<!--
/**
 * Copyright © MagEx Digital All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Csp\Model\CompositePolicyCollector">
        <arguments>
            <argument name="collectors" xsi:type="array">
                <item name="magex_collector"
                      xsi:type="object">MagExContentSecurityPolicyConfigCollector</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="MagExContentSecurityPolicyConfigCollector"
                 type="Magento\Csp\Model\Collector\ConfigCollector">
        <arguments>
            <argument name="readersPool"
                      xsi:type="object">MagExContentSecurityPolicyPolicyReaderPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="MagExContentSecurityPolicyPolicyReaderPool"
        type="Magento\Csp\Model\Collector\Config\PolicyReaderPool">
        <arguments>
            <argument name="readers" xsi:type="array">
                <item name="fetch"
                      xsi:type="object">MagEx\ContentSecurityPolicy\Collector\Config\ScopeConfigPolicyReader</item>
            </argument>
        </arguments>
    </virtualType>
</config>
